body {
  margin: 0%;
  font-family: "Josefin Sans", sans-serif;
}

h1{
    font-size: 50px;
}
.heading{
    padding-left: 10px;
    margin-top: 120px;
    border-left: 5px solid;
    border-image: linear-gradient(red, orange) 1;
}
p{
    font-size: 18px;
    margin: 50px 0 40px;
    text-align: justify;
    text-justify: inter-word;
}
.link-button{
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background: linear-gradient(red, orange);
    padding: 10px 15px;
    font-weight: 400px;
}
.half-width{
    width: 40%;
    margin-left: 10%;
}
.half-width img{
    width: 70%;
    margin-top: 70px;
}
.container{
    display: flex;
}
.my-mission{
    margin-bottom: 100px;
    margin-left:100px ;
    margin-right: 100px ;
}
.item{
    width: 25%;
    margin-left: 5%;
    padding: 20px;
    border-radius: 5%;
}
.item img{
    width:40%;
}
.mission{
    background-color:  #A1C398;
}
.vission{
    background-color:#C6EBC5 ;
}
.goals{
    background-color: #FEFDED;
}
.item h2{
    font-size: 30px;
    font-weight: 200;
}
.section-03{
    display: flex;
}
.half-width p{
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
}
.develop{
    margin-left: 0;
    margin-top: 5%;
}
.develop-banner {
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 200px;
    margin-bottom: 100px;
}
.section-04{
    display: flex;
}
.s4{
    margin-left:100px ;
    margin-right:100px;
}
.community-banner{
    background-image: url(images/shapes/shape-3.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 200px;
    margin-bottom: 80px;
    background-origin: content-box;
}
.corona-banner{
    background-image: url(images/shapes/shape-4.png);
}
.bg-01{
    background-image: url(images/shapes/shape-5.png), url(images/shapes/shape-6.png), url(images/shapes/shape-7.png) ;
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom, left, right top;
    background-size: 200px;
    margin-bottom: 80px;
    background-origin: content-box;
}
footer{
    text-align: center;
    background-color: black;
    padding: 20px;
}